<nz-table
  #groupingTable
  [nzShowPagination]="false"
  [nzData]="dataList"
  nzBordered
>
  <!-- <table> -->
  <thead>
    <!-- <tr>
      <th [attr.colspan]="item['colspan']" *ngFor="let item of thOptions">
        {{ item.name }}
      </th>
    </tr> -->
    <tr *ngFor="let thItem of thArr">
      <th
        [nzWidth]="item.name === '项目' || item.name === '合计' ? '100px' : ''"
        [attr.rowSpan]="item.rowspan"
        [attr.colSpan]="item.colspan"
        *ngFor="let item of thItem"
      >
        {{ item.name }}
      </th>
    </tr>
  </thead>
  <tbody #tb>
    <tr>
      <td>
        <div class="editable-cell">
          <div class="editable-cell-value-wrap">平远县</div>
        </div>
      </td>
      <td>
        <div class="editable-cell">
          <div class="editable-cell-value-wrap">{{ py["hj"] }}</div>
        </div>
      </td>
      <ng-container *ngFor="let arr of fieldsArr; let i = index">
        <td *ngIf="arr.fields.length > 1">
          <div class="editable-cell">
            <div class="editable-cell-value-wrap">
              {{ py["sum-" + arr["label"]] }}
            </div>
          </div>
        </td>
        <td *ngFor="let field of arr.fields">
          <div class="editable-cell">
            <div class="editable-cell-value-wrap">{{ py[field] }}</div>
          </div>
        </td>
      </ng-container>
    </tr>
    <tr
      *ngFor="let data of groupingTable.data; let i = index"
      (click)="startEdit(i + 1, $event)"
    >
      <td>
        <div class="editable-cell">
          <div class="editable-cell-value-wrap">
            {{ data["regionName"] }}
          </div>
        </div>
      </td>
      <td>
        <div class="editable-cell">
          <div class="editable-cell-value-wrap">
            {{ hj["hj-" + data["no"]] }}
          </div>
        </div>
      </td>
      <ng-container *ngFor="let arr of fieldsArr; let j = index">
        <td *ngIf="arr.fields.length > 1">
          <div class="editable-cell">
            <div class="editable-cell-value-wrap">
              {{ xj["xj-" + data["no"] + "-" + arr["label"]] }}
            </div>
          </div>
        </td>
        <ng-container *ngFor="let field of arr.fields; let k = index">
          <td>
            <div class="editable-cell" *ngIf="editId !== i + 1; else editTpl">
              <div class="editable-cell-value-wrap">
                {{ data[field] }}
              </div>
            </div>
            <ng-template #editTpl>
              <div class="editable-cell">
                <div class="editable-cell-value-wrap">
                  <input type="number" nz-input [(ngModel)]="data[field]" />

                  <!-- <nz-input-number
                    [nzMin]="0"
                    [nzSize]="'small'"
                    [(ngModel)]="data[field]"
                  ></nz-input-number> -->
                </div>
              </div>
            </ng-template>
          </td>
        </ng-container>
      </ng-container>

      <!-- <td *ngFor="let sub of getKeys(data)">
        <ng-container *ngIf="sub === 'regionName'; else elseTemplate">
          <div class="editable-cell">
            <div class="editable-cell-value-wrap">
              {{ data[sub] }}
            </div>
          </div>
        </ng-container>
        <ng-template #elseTemplate>
          <div class="editable-cell" *ngIf="editId !== i + 1; else editTpl">
            <div class="editable-cell-value-wrap">
              {{ data[sub] }}
            </div>
          </div>
          <ng-template #editTpl>
            <div>
              <input type="text" nz-input [(ngModel)]="data[sub]" />
            </div>
          </ng-template>
        </ng-template>
      </td> -->
    </tr>
  </tbody>
</nz-table>
<button nz-button (click)="submit()">确定</button>
